* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: coral;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: rgb(15, 32, 179);
}

.contact .content p {
    font-weight: 300;
    color: rgb(26, 147, 184);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .content {
    margin: 50px;
} */

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0px;
    display: flex;
}

.container .contactInfo .box .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    /* background-color: aqua; */
}

.container .contactInfo .box .text {
    margin-left: 20px;
    font-size: 16px;
    color: rgb(63, 28, 189);
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h2 {
    font-weight: 300;
    color: black;
}

.container .contactInfo .box .text h2:hover {
    font-weight: 500;
    color: rgb(84, 141, 226);
}

.contactForm {
    width: 40%;
    padding: 40px;
    background-color: aqua;
}

.contactForm h2 {
    font-size: 30px;
    color: black;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input {
    width: 90%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}